@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url("../Fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: 'AvenirNextLTPro-Italic';
    src: url("../Fonts/AvenirNextLTPro-Italic.otf")
}

.search-bar {
    height: 44px;
    width: 200px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    position: relative;
    background: #fff;
}

.input {
    border: none;
    height: 25px;
    width: 150px;
    color: #1b1b1b;
    font-size: 15px;
    outline: none;
}

.input:not(:placeholder-shown)+.label {
    font-size: 9px;
    top: 3px;
    color: #00c853;
}

.input:focus~.label {
    font-size: 9px;
    top: 3px;
    color: #4279a3;
    transition: all 0.5s ease;
}

.label {
    color: #aaaaaa;
    position: absolute;
    /* top: 13px; */
    pointer-events: none;
    transition: all 0.5s ease;
}

.search-btn {
    background: #4279a3;
    border-radius: 20px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: center;
    cursor: pointer;
    right: 2px;
    position: absolute;
    transition: all 1s ease;
}

.icon {
    display: inline-flex;
}

.icon-18 {
    width: 18px;
    height: 18px;
}

.input:focus~.highlight {
    width: 150px;
    transition: all 1s ease;
}

.definition {
    font-size: 16px;
    font-family: 'AvenirNextLTPro-Italic';
}

.faq_front {
    display: flex;
    flex-direction: column;
}

strong {
    color: #fff !important;

}


.map_room_all {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
}

.map_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

.map_illustration {
    width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.map_illustration .leaflet-control-attribution {
    display: none;
}

.map_info {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.map_name {
    font-family: 'AvenirNextLTPro-Bold', monospace;
    padding: 0.5rem 0 0 0;
    color: black !important;
}

.map_address {
    font-size: 0.7rem;
}

.map_booking {
    display: flex;
    justify-content: flex-end;
    margin: .5rem;
}

.book_button {
    background-color: #00C2FF;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
}

.book_button a {
    text-decoration: none;
}

#nbMap {
    margin-top: 0 !important;
    line-height: 2.5rem;
}

.map_result_list {
    list-style-type: none;
}

.map_result_list li,
.results_map h1 {
    cursor: pointer;
}

.results_map {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 30rem;
}

.faq_front {
    width: 100%;
}

.link-form {
    text-decoration: none;
    color: #15c7e3;
    width: max-content;
}

.title {
    color: #fff !important;
}

.qa-box {
    background-color: rgba(40, 35, 74, 0.15);
    padding: 1rem;
}

.category-faq {
    background-color: rgba(40, 35, 74, 0.3);
    padding: 2rem;
}

.category-faq:not(:last-child) {

    margin-bottom: 2rem;
}

.support-col {
    display: flex;
    gap: 8rem;
}

.support-left {
    flex: 1;
    flex-basis: 80%;
}

.image-upload>#fileToUpload {
    display: none;
}

.file-name {
    color: black;
}

.form-help {
    background-color: #15c7e3;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

.form-help-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.form-help-links-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.form-help-link {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #15c7e3 !important;
    width: 100%;
    text-align: center;
}

/* .form-help-link:not(:last-child) {
    margin-right: 1rem;
} */

.qa_question {
    font-size: x-large;
    cursor: pointer;
}

.mask {
    overflow: hidden;
}

.reveal-to-bottom {

    white-space: pre-wrap;
    transform: translateY(-100%);
    animation: reveal-to-bottom 0.5s forwards;
}


.hidden {
    display: none;
}

.qa_block:not(:last-child) {
    margin-bottom: 2rem;
}

.desc-form {
    margin-top: 1rem;
}

.keyfeature {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


@keyframes reveal-to-bottom {
    from {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


@media only screen and (max-width: 768px) {
    section {
        padding: 1.5rem !important;
    }

    h1 {
        font-size: 2em !important;
    }

    .actu-link-article {
        flex-direction: column;
    }

    .actu {
        flex-direction: column;
        gap: 2rem;
    }

    .support-col {
        flex-direction: column;
        gap: 1rem !important;
    }

    .actu-yt,
    .page-title.actu {
        max-height: max-content !important;
    }

    .results_map {
        display: none !important;
    }


    .map_booking {
        justify-content: space-around !important;
    }

    .book_button {
        padding: 0.8rem 5rem !important;
    }

    .map-sentence {
        display: none;
    }

    .form-help-links-contact {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 1280px) {
    section {
        padding: 4rem !important;
    }
    .game_info {
        display: flex;
        flex-direction: column;
    }

    .vc_col-sm-12 {
        margin: 1em 2em 0 !important;
    }

    .vc_column_container {
        width: 100% !important;
    }

    .keyfeature {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .map-content {
        flex-direction: row;
        gap: 2rem;
    }

    .map_room_all {
        grid-template-columns: 1fr !important;
    }

    .map_result_list {
        background-color: rgba(40, 35, 74, 0.35);
        padding: 0.5rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    .results_map {
        position: sticky;
        align-self: flex-start;
        top: 13rem;
    }


}
